.dashboard-container {
  margin-top: 150px;
}
.text-white {
  color: #ffffff !important;
}

.rounded-circle {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
/* 
.custom-card {
  padding: 20px;
  margin: 10px 0;
  min-height: 300px;
  min-width: 100%;
} */
