.hero-section {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; /* Occupies 80% of the viewport height on mobile */
  padding-top: 200px;
  mask-image: linear-gradient(black 85%, transparent);
}

.hero-container {
  text-align: center;
}

.hero-image-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 100%;
}

.hero-image {
  object-fit: contain;
  width: 80%;
  height: auto;
  max-height: 100%;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  /* color: var(--primary-color); */
  color: #f2a71b;
}

.hero-subtitle {
  font-size: 10px;
  color: white;
}

.download-button {
  display: none;
}

@media (min-width: 768px) {
  .text-section {
    margin-top: 200px;
    justify-content: center;
  }
  .hero-subtitle {
    font-size: 16px;
  }
  .hero-section {
    height: 100vh;
    align-items: flex-start;
    padding-top: 25px;
    mask-image: none;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hero-container {
    text-align: left;
  }

  .download-button {
    display: block;
    background-color: #f2a71b;
    border: none;
    color: black;
    text-decoration: none !important;
  }

  .link-info {
    text-decoration: none !important;
  }
  .hero-container {
    text-align: center;
  }
}
